a.backLink{
	text-align: left;
	display: inline-block;

}
div#backContainer{
	/*display: inline-block; */
	width: 10%;
	/* float: left; */
	font-size: 17px;
}
div#backContainer a{
	position: absolute;
	margin: 25px 10px 10px 10px;
	left: 15px;
}
div#titleContainer{
	display: inline-block;
	margin-top: 20px;

}
div.header h5{
	font-size: 24px;
	margin-top: 0px
}

div#content{
	width: 75%;
	margin: auto;
}

div#content p {
	text-align: justify;
}
div#content table{
	display: inline-block;
	margin: 10px 0px 0px 0px;
}

h4#date{
	text-align: left;
	margin:0px;
}

td, th {
  width: 6rem;
  height: 2rem;
  padding: 3px 10px 3px 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  text-align: center;
}
th {
  background: #dce5ff;
  border: 1px solid #dce5ff;
}

div#content table#tableTwo{
	display: inline-block;
	margin: 0px 0px 10px 0px;
}