img#logo {
	display: inline-block;
	/*margin-left: 5%;*/
	margin-right: 3%;
}

div#personal{
	display: inline-block;
	width: 60%;
	text-align: left;
	padding-top: 5%;
}
div#pic{
	float:left;
	margin: 0px;
	display: inline-block;
}
div#personalInformation{
	margin-left:2%;
	display: inline-block;
	float: left;
}
div#section{
	margin-top:5%;
	width:100%;
}
div.subtopic{
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	padding-bottom:10px;
	background-color: #5DD9B0;
	border-bottom: 5px solid #47A686;
}
div.subsection{
	background-color: #F9F9FF;
	text-align: center;
	margin-bottom:20px;
}
div.subsection a {
	color:white;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
}
div.subsection h2{
	padding-top:5px;
	padding-bottom:5px;
	background-color: #E8EEF5; 
}

div.subtopic p{
	margin: 0px;
}
div#analysisRating{
	text-align: center;
}
div#analysisRating h4{
	font-size: 40px;
	margin: 5px;
	padding: 2px;
	text-align: center;
	color: white;
	background-color: #506166;
	border-bottom: 5px solid #1C2C47;
}
div#analysis button {
	display:inline-block;
}

div#rating{
	display:inline-block;
	width: 40%;
	margin: auto;
}


div#features p {
margin: 0px;
}

div.subsection#features{
	text-align: center;
}

div#specificFeatures{
	display: inline-block;
}

/* Applies to larger screens */
@media only screen and (min-width:40em) {
	div#main {
		width: 75%;
		display:inline-block;
	}

	div.subsection { 
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}

	div.subtopic { 
		max-width:400px;
	}

}


/* Applies to smaller screens */
@media only screen and (max-width:40em) {
	img#logo {
		display:none;
		margin:0px;
	}

	div.subsection { 
		width:100%;
	}

	div.subtopic {
		max-width:300px;
	}

	div#main {
		width: 100%;
	}
	div#personal{
		width: 80%;
	}

} 


/*On Off Switch*/


.onoffswitchTwo {
    position: relative; width: 63px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitchTwo-checkbox {
    display: none;
}
.onoffswitchTwo-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitchTwo-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitchTwo-inner:before, .onoffswitchTwo-inner:after {
    display: block; float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitchTwo-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #B5CDFF; color: #FFFFFF;
    text-align: left;
}
.onoffswitchTwo-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitchTwo-switch {
    display: block; width: 12px; margin: 4.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 38px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitchTwo-checkbox:checked + .onoffswitchTwo-label .onoffswitchTwo-inner {
    margin-left: 0;
}
.onoffswitchTwo-checkbox:checked + .onoffswitchTwo-label .onoffswitchTwo-switch {
    right: 0px; 
}




.onoffswitchOne {
    position: relative; width: 63px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitchOne-checkbox {
    display: none;
}
.onoffswitchOne-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitchOne-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitchOne-inner:before, .onoffswitchOne-inner:after {
    display: block; float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitchOne-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #B5CDFF; color: #FFFFFF;
    text-align: left;
}
.onoffswitchOne-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitchOne-switch {
    display: block; width: 12px; margin: 4.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 38px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitchOne-checkbox:checked + .onoffswitchOne-label .onoffswitchOne-inner {
    margin-left: 0;
}
.onoffswitchOne-checkbox:checked + .onoffswitchOne-label .onoffswitchOne-switch {
    right: 0px; 
}


.onoffswitchThree {
    position: relative; width: 63px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitchThree-checkbox {
    display: none;
}
.onoffswitchThree-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitchThree-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitchThree-inner:before, .onoffswitchThree-inner:after {
    display: block; float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitchThree-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #B5CDFF; color: #FFFFFF;
    text-align: left;
}
.onoffswitchThree-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitchThree-switch {
    display: block; width: 12px; margin: 4.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 38px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitchThree-checkbox:checked + .onoffswitchThree-label .onoffswitchThree-inner {
    margin-left: 0;
}
.onoffswitchThree-checkbox:checked + .onoffswitchThree-label .onoffswitchThree-switch {
    right: 0px; 
}
