html{
	padding: 0px;
	margin: 0px;
}

body{
	margin: 0px;
	padding: 0px;
	background-color:#E2E9FF;
}

div#main{
	text-align: center;
	height:100vh; /* 100% of viewport height */
	background-color:white;
}

div#personal{
	display: inline-block;
	width: 80%;
	text-align: left;
	padding-top:5%;
}
div#pic{
	float:left;
	margin: 0px;
	display: inline-block;
}
div#personalInformation{
	margin-left:2%;
	display: inline-block;
	float: left;
}
div#section{
	margin-top:5%;
	width:100%;
}
div.subtopic{
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	padding-bottom:10px;
	background-color: #E86B71;
	border-bottom: 5px solid #A84052;
}
div.subsection{
	padding:10px;
	background-color: #F9F9FF;
	text-align: center;
	margin-bottom:20px;
}
div.subsection a {
	color:white;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
}
div.subsection h2{
	font-size: 21px; 
}

div.subtopic p{
	margin: 0px;
}
div#analysisRating{
	text-align: center;
}
div#analysisRating h4{
	font-size: 40px;
	margin: 5px;
	padding: 2px;
	border-radius: 5px;
	text-align: center;
	color: black;
	background-color: red;
	/*display: inline-block;*/
}
div#rating{

	width: 40%;
	margin: auto;
}


div#features p {
margin: 0px;
}

/* Applies to larger screens */
@media only screen and (min-width:40em) {
	body {
		text-align:center;
	}	

	div#main {
		width: 75%;
		display:inline-block;
	}

	div.subtopic { 
		max-width:400px;
	}

}


/* Applies to smaller screens */
@media only screen and (max-width:40em) {
	body {
		text-align:center;
	}	
	div#main {
		width: 100%;
	}

}