
@font-face {
	font-family:Madras-Bold;
	src: url('images/MadrasExtraBoldItalic');
}




html{
	background-color: #506166;
	padding: 0px;
	margin: 0px;
}

body {
	font-family:serif;
	color: darkolivegreen;
	font-size:14px;

	margin: 0px;
	padding: 0px;
	background: -webkit-linear-gradient(#B5CEFF, #E2E9FF, #E2E9FF); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#B5CEFF, #E2E9FF, #E2E9FF); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#B5CEFF, #E2E9FF, #E2E9FF); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#B5CEFF, #E2E9FF, #E2E9FF); /* Standard syntax */
}

div#main{
	position:relative;
	text-align: center;
	background-color:white;
}

footer {
	background-color:#506166;
	height:80px;
	width:100%;
	color:white;
	display:flex;
	align-items:center;
}
footer p {
	margin:0;
	width:100%;
}

h2 {
	color: #506166;
	font-size:18px;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:100;
	margin:0;
	margin-bottom:5px;
}
h3 {
	color: #506166;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:100;
}


/* Applies to larger screens */
@media only screen and (min-width:40em) {
	body {
		text-align:center;
	}	
	div#main {
		min-height: 600px;
		width: 80%;
		display:inline-block;
	}

}


/* Applies to smaller screens */
@media only screen and (max-width:40em) {
	body {
		text-align:center;
	}	
	div#main {
		min-height:500px;
		width: 100%;
	}
	/*This is for the analysis page*/
	div#content table#tableTwo{
		display: inline-block;
		margin: 0px 0px 10px 0px;
	}
}

/* Angela's login style */

div#login_cont {
	position:relative;
	padding-top:5%;
	padding-bottom:5%;
}

button#login_button {
	background-color: #3683FF;
	border: none;
	border-bottom: 5px solid #3646FF;
	padding: 10px;
	min-width: 150px;
	color: white;
	text-transform: uppercase;
}

div#form{
	width: 150px;
	margin: 0px;
	display: inline-block;
}

input{
	display: inline-block;
}

div.header{
	background-color: #e2e9ff;
	height: 70px;
	margin-bottom: 10px;
-webkit-box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.75);
box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.75);
}

<<<<<<< HEAD
div#main {
	color: #4f6166;
}
=======
div#logo {
	animation-name: fadeslideup;
	animation-duration: 1s;

	-webkit-animation-name: fadeslideup;
	-webkit-animation-duration: 1s;
}



@keyframes fadeslideup {
	0% {
		margin-top: 10px;
		opacity: 0.2;
	}
	100% { 
		margin-top:0px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeslideup {
	0% { 
		margin-top: 10px;
		opacity: 0.2;
	}
	100% { 
		margin-top:0px;
		opacity: 1;
	}
}



>>>>>>> 809d58ff9ac84aacfba693b208e191dee4b32c7a
