html{
	padding: 0px;
	margin: 0px;
}

body{
	margin: 0px;
	padding: 0px;
	background-color:#E2E9FF;
}

div#main{
	text-align: center;
	height:100vh; /* 100% of viewport height */
	background-color:white;
}

div#form{
	width: 150px;
	margin: 0px;
	display: inline-block;
}

input{
	display: inline-block;
}

/* Applies to larger screens */
@media only screen and (min-width:40em) {
	body {
		text-align:center;
	}	
	div#main {
		width: 80%;
		display:inline-block;
	}

}


/* Applies to smaller screens */
@media only screen and (max-width:40em) {
	body {
		text-align:center;
	}	
	html{
		background-color: #e2e2e2;
	}
	div#main {
		width: 100%;
	}

}