div#form{
	width: 150px;
	margin: 0px;
	display: inline-block;
}

input{
	display: inline-block;
}

/* Applies to larger screens */
@media only screen and (min-width:40em) {
	body {
		text-align:center;
	}	
	div#main {
		width: 80%;
		display:inline-block;
	}

}


/* Applies to smaller screens */
@media only screen and (max-width:40em) {
	body {
		text-align:center;
	}	
	html{
		background-color: #e2e2e2;
	}
	div#main {
		width: 100%;
	}
}

/* Angela's login style */

div#login_cont {
	position:relative;
	top:5%;
}


